extends ../layouts/default

block content
  header#candidacy-header.page-header
    h1#candidacy-title.text-center.center-block EMAIL

    form#send_email(method='POST' action='/candidatura')
      .row
        .col-sm-10
            div.form-group
              label(for='email_text') Conteudo do email
              textarea#field.form-control(type='text', placeholder='Escreve aqui o email que pretendes enviar' name='email_text')
      .row
        .col-sm-6
          button#summit-btn.btn.btn-primary(type='submit') SUBMIT
  header#candidacy-dividor
