extends ../layouts/default

block content
  header#candidacy-header.page-header
    h1#candidacy-title.text-center.container ENTREVISTAS
  div.container
    div.container
      h1.text-center CANDIDATOS
      section
        form(method='POST' action='/entrevistas_accept')
          div.container.col-sm-1
          div.container.col-sm-10
            .table-responsive
              table.table.table-hover.display.vertical-aligned-items#table_id
                thead
                  if user.isAdmin
                    th.center Aceitar
                  th Nome
                  th Número UP
                  th 
                tbody
                  if candidatos
                    each candidato in candidatos
                      if !candidato.aceite
                        if candidato.entrevistado
                          tr.success
                            if user.isAdmin
                              td.center
                                if candidato.aceite  
                                  div(data-toggle="buttons").btn-group-toggle
                                    label.btn.btn-primary.check-btn.active 
                                      i.fas.fa-check
                                      input(type="checkbox" checked autocomplete="off")
                                else
                                  div(data-toggle="buttons").btn-group-toggle
                                    label.btn.btn-primary.check-btn
                                      i.fas.fa-check
                                      input(type="checkbox" name="accept" autocomplete="off")
                            td #{candidato.name.full}
                            td
                              a(href="https://sigarra.up.pt/feup/pt/fest_geral.cursos_list?pv_num_unico="+candidato.numero_up target="_blank") #{candidato.numero_up}
                            td
                              a(href="/entrevista/" + candidato._id) Entrevista
                            td
                              button(formaction="/entrevista/delete/"+candidato._id formmethod="post").btn.btn-danger
                                i.fas.fa-trash
                        else
                          tr.danger
                            if user.isAdmin
                                td  
                            td #{candidato.name.full}
                            td
                              a(href="https://sigarra.up.pt/feup/pt/fest_geral.cursos_list?pv_num_unico="+candidato.numero_up target="_blank") #{candidato.numero_up}
                            td
                              a(href="/entrevista/" + candidato._id) Entrevistar
                            td
                              button(formaction="/entrevista/delete/"+candidato._id formmethod="post").btn.btn-danger
                                i.fas.fa-trash
            if candidatos
              button.btn.btn-default(type="Submit") Aceitar Selecionados
            if user.isAdmin
              a.btn.btn-default(href="/email") Enviar Email
              button.btn.btn-default(formaction="/entrevistas/close" formmethod="post") Terminar Fase
