extends ../layouts/default

block content
    section#hero.hero
        .item.center-block
            .slide-info.center-block
                p.white-title Encontro Nacional de Estudantes de Informática
                hr.white-separator
                p.white-subtitle Se és estudante de Engenharia Informática, não podes perder este evento!
                a(href='http://enei.pt')
                    button.btn.btn-default.see-more-button Ver Mais
                    
    section#info
        .row
          .col-md-10.col-md-offset-1.text-center
            h1.title NÚCLEO DE INFORMÁTICA
            h1.subtitle Associação de Estudantes da Faculdade de Engenharia da Universidade do Porto
            h6.definition O núcleo de informática pertence à Associação de Estudantes da Faculdade de Engenharia da Universidade do Porto (FEUP.), e é constituído inteiramente por alunos do curso de Engenharia Informática e Computação (MIEIC). A nossa principal motivação é ganhar experiência e competências essenciais para o mundo do trabalho assim como cultivar nos nossos colegas a vontade de aprender linguagens e novas tecnologias.
            hr.black-separator
    section#container-icons
        .row
            .col-md-10.col-md-offset-1.text-center
                .row.first-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-lightbulb-o
                            .col-md-10.text-left
                                p.skill-title IDEIAS INOVADORAS
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-desktop
                            .col-md-10.text-left
                                p.skill-title PROFISSIONALISMO
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-bug
                            .col-md-10.text-left
                                p.skill-title QUALIDADE
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                .row.second-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-calendar-o
                            .col-md-10.text-left
                                p.skill-title EVENTOS E WORKSHOPS
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-handshake-o
                            .col-md-10.text-left
                                p.skill-title APOIO ACADÉMICO
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-heart-o
                            .col-md-10.text-left
                                p.skill-title DEDICAÇÃO
                                p.skill-body O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    section#container-photo
        #transparent-div
            #transparent-div-info
                p.white-italic-title You know nothing.
                p.white-title Engenharia Informática
                hr.white-separator.left
                p.white-subtitle.info  O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    section#portfolio
    section#container-projects
        .row.project-info
            .col-md-2.col-md-offset-1
                p.title PORTFÓLIO
            //.col-md-2  button.btn.btn-default.btn-projects VER MAIS
        .row#project-photos
            .col-md-3#project-1.project
                #project-1-description.text-center.project-description-padding
                    .icons.text-center
                        i.fa.fa-file-text
                        i.fa.fa-share-alt
                    .project-title TÍTULO DO PROJETO
                    hr.separator 
                    .project-description description 
            .col-md-3#project-2.project
                #project-2-description.project-description-padding
                    .icons.text-center
                        i.fa.fa-file-text
                        i.fa.fa-share-alt
                    .project-title TÍTULO DO PROJETO
                    hr.separator 
                    .project-description description 
            .col-md-3#project-3.project
                #project-3-description.project-description-padding
                    .icons.text-center
                        i.fa.fa-file-text
                        i.fa.fa-share-alt
                    .project-title TÍTULO DO PROJETO
                    hr.separator 
                    .project-description description 
            .col-md-3#project-4.project
                #project-4-description.project-description-padding
                    .icons.text-center
                        i.fa.fa-file-text
                        i.fa.fa-share-alt
                    .project-title TÍTULO DO PROJETO
                    hr.separator 
                    .project-description description 

    section#container-feup
        .row.info
            .col-md-3.offset-md-2.text-center
                .number 10
                hr.separator
                .description PROJETOS
            .col-md-3.text-center
                .number 5
                hr.separator
                .description EVENTOS
            .col-md-3.text-center
                .number 20
                hr.separator
                .description WORKSHOPS
            .col-md-3.text-center
                .number 30
                hr.separator
                .description MEMBROS

    section#contacts
    section#container-contacts
        .row.contact-info
          .col-md-7.col-md-offset-1.col-sm-12.col-sm-offset-1.col-xs-12.col-xs-offset-1
                p.title CONTACTOS
                .row
                    .col-sm-5.flex#contact-align
                        .col-md-1.text-center
                            i.fa.fa-map-marker.fa-icon
                        .col-md-10.text-left
                            .subtitle Morada:
                            .info Rua Dr. Roberto Frias 4200-465, Porto 
                            .info Sala B315
                    .col-sm-3.flex#contact-align
                        .col-md-1.text-center
                            i.fa.fa-envelope.fa-icon
                        .col-md-5.text-left
                            .subtitle Email: &nbsp
                            a.info(href='mailto:ni@aefeup.pt', title='E-mail') ni@aefeup.pt
                    .col-sm-3.flex#contact-align
                        .col-md-1.text-center
                            i.fa.fa-github.fa-icon
                        .col-md-5.text-left
                            .subtitle Gitbub: &nbsp
                            a.info(href='https://github.com/NIAEFEUP', title='Github') @niaefeup

          #socialmedia.col-md-3.col-sm-12.col-sm-offset-1.col-xs-12.col-xs-offset-1
              p.title REDES SOCIAIS
              .container-social
                  nav.social
                      a.fa.fa-facebook.fa-icon-border(href='https://www.facebook.com/NIAEFEUP', title='Facebook')
                      a.fa.fa-linkedin.fa-icon-border(href='https://www.linkedin.com/company/nifeup', title='LinkedIn')
                      a.fa.fa-twitter.fa-icon-border(href='https://twitter.com/niaefeup', title='Twitter')
                      a.fa.fa-instagram.fa-icon-border(href='https://www.instagram.com/niaefeup/', title='Instagram')

    section
        iframe(src="https://snazzymaps.com/embed/19268" width="100%" height="400px" style="border:none;")
