extends ../layouts/default

block content
    section#hero.hero
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            h1.animated.bounceInDown Núcleo de Informática
        .row
          .col-md-2.col-md-offset-5.text-center
            .hero-play-btn Play Button
    section#about.intro
      .container
        .row
          .col-md-8.wp1.description
            h1
              | Um núcleo dos estudantes para os estudantes
            p
              | Nós somos um núcleo da Associação de Estudantes da FEUP, constituído inteiramente por alunos do curso de Engenharia Informática e Computação (MIEIC). A nossa principal motivação é ganharmos experiência e competências que a organização de eventos e projetos relacionados com o núcleo nos exige.
            p
              | O NI oferece aos alunos do MIEIC palestras e workshops, com o objetivo de cultivarmos nos nossos colegas a vontade de aprender linguagens e tecnologias novas e que não são abordadas durante os 5 anos do curso.
    section#projects.design
      .container
        .row
          .col-md-12
            .col-md-4.design-content
              h1 O que fizemos
              p Alguns dos nossos projetos
            .col-md-4
              .flat-box
                a(href='http://ni.fe.up.pt/TTS')
                  .colourway.colour1
                p.title Timetable Selector
                p.feature-text O nosso serviço de ajuda à escolha de horários
            .col-md-4
              .flat-box
                a(href='https://feupload.fe.up.pt/')
                  .colourway.colour2
                p.title FEUPLoad
                p.feature-text Partilha temporária de ficheiros
    section#members.members
      .container
        .row
          .col-md-8.wp1.description
            h1
              | Conhece os nossos membros
            a(href='/members')
              img(style='height:50px; width:60px;', src='images/arrow1.png')
    section#contactos.features
      .container
        .row
          .col-md-6
            h1 Contactos
        #socialmedia.row
          .container-social
            ul.social
              li.facebook
                a.fa.fa-facebook(href='https://www.facebook.com/NIAEFEUP', title='Facebook')
              li.twitter
                a.fa.fa-twitter(href='https://twitter.com/niaefeup', title='Twitter')
              li.mail
                a.fa.fa-envelope(href='mailto:ni@aefeup.pt', title='E-mail')
              li.github
                a.fa.fa-github(href='https://github.com/NIAEFEUP', title='Github')
              li.linked-in
                a.fa.fa-linkedin(href='https://www.linkedin.com/company/nifeup', title='LinkedIn')
        p.margin-bottom Rua Dr. Roberto Frias, B315
