extends ../layouts/default

block content
    section#hero.hero
        .item.center-block
            .slide-info.center-block
                p.title Encontro Nacional de Estudantes de Informática
                hr.white-separator
                p.subtitle Se és estudante de Engenharia Informática, não podes perder este evento!
                button.btn.btn-default.see-more-button Ver Mais
    section#info 
        .row
          .col-md-10.col-md-offset-1.text-center
            h1.subtitle Associação de Estudantes da Faculdade de Engenharia da Universidade do Porto
            h1.title NÚCLEO DE INFORMÁTICA
            h6.definition Nós somos um núcleo da Associação de Estudantes da FEUP, constituído inteiramente por alunos do curso de Engenharia Informática e Computação (MIEIC). A nossa principal motivação é ganharmos experiência e competências que a organização de eventos e projetos relacionados com o núcleo nos exige.
            hr.black-separator   
    section#about-icons
        .row
            .col-md-10.col-md-offset-1.text-center
                .row.first-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center 1
                                i.fa.fa-lightbulb-o(aria-hidden='true')
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center 2
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center 3
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                .row.second-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center 1
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center 2
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center 3
                            .col-md-10.text-left O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    section#container-photo
        
                
                
                

    
    section#about.intro
      .container
        .row
          .col-md-8.wp1.description
            h1
              | Um núcleo dos estudantes para os estudantes
            p
              | Nós somos um núcleo da Associação de Estudantes da FEUP, constituído inteiramente por alunos do curso de Engenharia Informática e Computação (MIEIC). A nossa principal motivação é ganharmos experiência e competências que a organização de eventos e projetos relacionados com o núcleo nos exige.
            p
              | O NI oferece aos alunos do MIEIC palestras e workshops, com o objetivo de cultivarmos nos nossos colegas a vontade de aprender linguagens e tecnologias novas e que não são abordadas durante os 5 anos do curso.
    section#projects.design
      .container
        .row
          .col-md-12
            .col-md-4.design-content
              h1 O que fizemos
              p Alguns dos nossos projetos
            .col-md-4
              .flat-box
                a(href='http://ni.fe.up.pt/TTS')
                  .colourway.colour1
                p.title Timetable Selector
                p.feature-text O nosso serviço de ajuda à escolha de horários
            .col-md-4
              .flat-box
                a(href='https://feupload.fe.up.pt/')
                  .colourway.colour2
                p.title FEUPLoad
                p.feature-text Partilha temporária de ficheiros
    section#members.members
      .container
        .row
          .col-md-8.wp1.description
            h1
              | Conhece os nossos membros
            a(href='/members')
              img(style='height:50px; width:60px;', src='images/arrow1.png')
    section#contactos.features
      .container
        .row
          .col-md-6
            h1 Contactos
        #socialmedia.row
          .container-social
            ul.social
              li.facebook
                a.fa.fa-facebook(href='https://www.facebook.com/NIAEFEUP', title='Facebook')
              li.twitter
                a.fa.fa-twitter(href='https://twitter.com/niaefeup', title='Twitter')
              li.mail
                a.fa.fa-envelope(href='mailto:ni@aefeup.pt', title='E-mail')
              li.github
                a.fa.fa-github(href='https://github.com/NIAEFEUP', title='Github')
              li.linked-in
                a.fa.fa-linkedin(href='https://www.linkedin.com/company/nifeup', title='LinkedIn')
        p.margin-bottom Rua Dr. Roberto Frias, B315
