extends ../layouts/default

block content
    section#hero.hero
        .item.center-block
            .slide-info.center-block
                p.white-title Encontro Nacional de Estudantes de Informática
                hr.white-separator
                p.white-subtitle Se és estudante de Engenharia Informática, não podes perder este evento!
                button.btn.btn-default.see-more-button Ver Mais
    section#info 
        .row
          .col-md-10.col-md-offset-1.text-center
            h1.subtitle Associação de Estudantes da Faculdade de Engenharia da Universidade do Porto
            h1.title NÚCLEO DE INFORMÁTICA
            h6.definition Nós somos um núcleo da Associação de Estudantes da FEUP, constituído inteiramente por alunos do curso de Engenharia Informática e Computação (MIEIC). A nossa principal motivação é ganharmos experiência e competências que a organização de eventos e projetos relacionados com o núcleo nos exige.
            hr.black-separator   
    section#container-icons
        .row
            .col-md-10.col-md-offset-1.text-center
                .row.first-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-lightbulb-o
                            .col-md-10.text-left 
                                h4 IDEIAS INOVADORAS
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center
                                i.fa.fa-desktop
                            .col-md-10.text-left 
                                h4 PROFISSIONALISMO
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center
                                i.fa.fa-bug
                            .col-md-10.text-left 
                                h4 QUALIDADE
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                .row.second-icons-row
                    .col-md-4.text-center
                        .row
                            .col-md-2.text-center
                                i.fa.fa-calendar-o
                            .col-md-10.text-left 
                                h4 EVENTOS E WORKSHOPS
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center
                                i.fa.fa-handshake-o
                            .col-md-10.text-left 
                                h4 APOIO ACADÉMICO
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
                    .col-md-4.text-center 
                        .row
                            .col-md-2.text-center
                                i.fa.fa-heart-o
                            .col-md-10.text-left 
                                h4 DEDICAÇÃO
                                p O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    section#container-photo
        #transparent-div
            #transparent-div-info
                p.white-italic-title You know nothing.
                p.white-title Engenharia Informática
                hr.white-separator.left
                p.white-subtitle.info  O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    
    section#container-projects
        p.title PROJETOS
        .row#project-photos
            .col-md-3#project_1.project 
            .col-md-3#project_2.project 
            .col-md-3#project_3.project 
            .col-md-3#project_4.project 
                             

    section#contacts-section.row

        #contacts.col-sm-7.col-sm-offset-1
            h3 CONTACTOS
            .row
                #morada.col-md-6.flex
                    i.fa.fa-map-marker.fa-icon
                    #rua
                        b.strong Morada:
                        p Rua Dr. Roberto Frias 4200-465, Porto B315
                .col-md-6
                    #email.flex
                        a(href='mailto:ni@aefeup.pt', title='E-mail')
                            i.fa.fa-envelope.fa-icon
                        b.strong Email: &nbsp
                        a(href='mailto:ni@aefeup.pt', title='E-mail')
                            p ni@aefeup.pt
                    #github.flex
                        a(href='https://github.com/NIAEFEUP', title='Github')
                            i.fa.fa-github.fa-icon
                        b.strong Gitbub: &nbsp
                        a(href='https://github.com/NIAEFEUP', title='Github')
                            p @nieafeup
            
        #socialmedia.col-sm-4
            h3 REDES SOCIAIS
            .container-social
                nav.social
                    a.fa.fa-facebook.fa-icon-border(href='https://www.facebook.com/NIAEFEUP', title='Facebook')
                    a.fa.fa-linkedin.fa-icon-border(href='https://www.linkedin.com/company/nifeup', title='LinkedIn')
                    a.fa.fa-twitter.fa-icon-border(href='https://twitter.com/niaefeup', title='Twitter')
                    a.fa.fa-instagram.fa-icon-border(href='https://www.instagram.com/niaefeup/', title='Instagram')
                    
        
    section#map  
