extends ../layouts/default

block content
	section.members
		.container
			// DIREÇÃO
			div
				.row
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/edgarpassos_cropped-min.jpg', alt='')
							h4 Edgar Passos
							p.text-muted Presidente
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/bernardobelchior_cropped-min.jpg', alt='')
							h4 Bernardo Belchior
							p.text-muted Vice-Presidente e Gestor de Projetos
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/nunoramos_cropped-min.jpg', alt='')
							h4 Nuno Ramos
							p.text-muted Vice-Presidente e Gestor de Eventos
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/pedrocosta_cropped-min.jpg', alt='')
							h4 Pedro Costa
							p.text-muted Tesoureiro
				.row
					.col-sm-3
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/joaocarvalho_cropped-min.jpg', alt='')
							h4 João Carvalho
							p.text-muted Secretário e Responsável pela Sala
					.col-sm-3
						.team-member
							img.img-responsive.img-circle(src='images/members/mariajoao_cropped-min.jpg', alt='')
							h4 Maria João Mira Paulo
							p.text-muted Responsável pela Imagem e Comunicação
					.col-sm-3
			// MEMBROS
			.row
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Ana Rita Ferreira-min.jpg', alt='')
						h4 Ana Rita Ferreira
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Anaís Dias-min.jpg', alt='')
						h4 Anaís Dias
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/André Lago-min.jpg', alt='')
						h4 André Lago
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/António Ramadas-min.jpg', alt='')
						h4 António Ramadas
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/sofiasilva-min.jpg', alt='')
						h4 Bárbara Sofia Silva
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Beatriz Mendes-min.png', alt='')
						h4 Beatriz Mendes
						p.text-muted Membro
				.clearfix
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/David Azevedo-min.jpg', alt='')
						h4 David Azevedo
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Duarte Pinto-min.jpg', alt='')
						h4 Duarte Pinto
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Francisca Pauperio-min.png', alt='')
						h4 Francisca Paupério
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Filipe Coelho-min.jpg', alt='')
						h4 Filipe Coelho
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Flávio Couto-min.jpg', alt='')
						h4 Flávio Couto
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Gabriel Souto-min.jpg', alt='')
						h4 Gabriel Souto
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Guilherme Pinto-min.jpg', alt='')
						h4 Guilherme Pinto
						p.text-muted Membro
				.clearfix
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Gustavo Silva-min.jpg', alt='')
						h4 Gustavo Silva
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/José Cardoso-min.jpg', alt='')
						h4 José Cardoso
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/José Oliveira-min.jpg', alt='')
						h4 José Oliveira
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/João Bordalo-min.jpg', alt='')
						h4 João Bordalo
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/João Soares-min.png', alt='')
						h4 João Soares
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Jorge Teixeira-min.jpg', alt='')
						h4 Jorge Teixeira
						p.text-muted Membro
				.clearfix
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Luís Duarte-min.jpg', alt='')
						h4 Luis Duarte
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Miguel Duarte-min.jpg', alt='')
						h4 Miguel Duarte
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Nuno Castro-min.jpg', alt='')
						h4 Nuno Castro
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Pedro Castro-min.jpg', alt='')
						h4 Pedro Castro
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Pedro Fraga-min.png', alt='')
						h4 Pedro Fraga
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Pedro Silva-min.jpg', alt='')
						h4 Pedro Silva
						p.text-muted Membro
				.clearfix
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Sérgio Domingues-min.jpg', alt='')
						h4 Sérgio Domingues
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Vânia Leite-min.jpg', alt='')
						h4 Vânia Leite
						p.text-muted Membro
				.col-lg-2.col-sm-2
					.team-member
						img.img-responsive.img-circle(src='images/members/Vítor Teixeira-min.jpg', alt='')
						h4 Vítor Teixeira
						p.text-muted Membro
			// RECRUTAS
			.row
				// TEMPLATE
				// <div class='col-sm-2'><div class='team-member'><img src='images/members/Pedro Fraga-min.png' class='img-responsive img-circle' alt=''><h4>RECRUITS_NAME</h4><p class='text-muted'>Recruta</p></div></div>
			//
				Frase genérica para o final da pagina?
				<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
				</div>
				</div>
