extends ../layouts/default

block content
    header.portfolio-header
        h2.text-center.portfolio-title Projectos
    section.portfolio
        .container
            .row
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
    header.portfolio-header
        h2.text-center.portfolio-title Workshops
    section.portfolio
        .container
            .row
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
    header.portfolio-header
        h2.text-center.portfolio-title Visitas a empresas
    section.portfolio
        .container
            .row
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                .col-sm-4
                    .project
                        a(type="button" data-toggle="modal" data-target="#tts")
                            img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')

