extends ../layouts/default

block content
    header.portfolio-header
        h2.text-center.portfolio-title.center-block PORTFÓLIO
    section.portfolio-options.container-fluid
        button.btn.btn-default.see-more-button(type='button', data-filter='all', autofocus="autofocus") TODOS
        button.btn.btn-default.see-more-button(type='button', data-filter='.project') PROJETOS
        button.btn.btn-default.see-more-button(type='button', data-filter='.workshop') WORKSHOPS
        button.btn.btn-default.see-more-button(type='button', data-filter='.visit') EVENTOS
    section.portfolio
        .container
            .project.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-calendar.png", alt='')
                    .caption
                        h3 Exam calendar
                        h4 Projeto
                        hr
                        p Programa que permite gerir a marcação de exames do curso.
            .project.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-tts.png", alt='timetable-selector')
                    .caption
                        h3 Timetable Selector
                        h4 Projeto
                        hr
                        p O nosso serviço de ajuda à escolha de horários.
                        a.fa.fa-file-text.fa-icon-border(href='https://ni.fe.up.pt/TTS', title='Timetable Selector')
            .workshop.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-workshop.png", alt='workshop c++')
                    .caption
                        h3 Workshop C++
                        h4 Workshop
                        hr
                        p Todos os anos o Núcleo realiza um workshop de C++ para alunos recém-chegados.
            .visit.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-enei.png", alt='enei')
                    .caption
                        h3 ENEI
                        h4 Evento
                        hr
                        p Encontro Nacional de Estudantes de Informática 2018
                        a.fa.fa-file-text.fa-icon-border(href='https://enei.pt', title='ENEI')
            .project.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-website.png", alt='Website NI')
                    .caption
                        h3 Website
                        h4 Projeto
                        hr
                        p Website que expõe o Núcleo à comunidade.
                        a.fa.fa-file-text.fa-icon-border(href='/', title='Website')
            .workshop.mix
                .thumbnail.no-border
                    img.img-responsive(src="./images/projects/project-workshop.png", alt='segurança')
                    .caption
                        h3 Workshop de Segurança
                        h4 Workshop
                        hr
                        p Workshop dado pela empresa Multicert
    header.portfolio-dividor




    script(src='./js/mixitup.min.js')
    script.
        var containerEl = document.querySelector('.container');

        var config = {
            animation: {
                enable: false
            }
        };

        var mixer = mixitup(containerEl, config);
