extends ../layouts/default

block content
    header.portfolio-header
        h2.text-center.portfolio-title Projectos
    section.portfolio
        .container
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        img.img-responsive(src="./images/projects/tts.png", alt='timetable-selector')
                        .caption
                        h3 Timetable Selector
                        p O nosso serviço de ajuda à escolha de horários.
                        p
                            a.btn.btn-primary(href='https://ni.fe.up.pt/TTS/', role='button') Website
                .col-sm-6.col-md-4
                    .thumbnail
                        img.img-responsive(src="./images/projects/feupload.png", alt='timetable-selector')
                        .caption
                        h3 FEUPLoad
                        p Partilha temporária de ficheiros
                        p
                            a.btn.btn-primary(href='https://feupload.fe.up.pt/', role='button') Website


    header.portfolio-header
        h2.text-center.portfolio-title Workshops
    section.portfolio
        .container
            .row
                
    header.portfolio-header
        h2.text-center.portfolio-title Visitas a empresas
    section.portfolio
        .container
            .row
                
