extends ../layouts/default

block content
	include ../mixins/soundboard-button
	header#sound-board-header.page-header
		h1#sound-board-title.text-center.center-block "Sound Board"
		
	div.container
		.row
			.col-sm-12
				h2#form-title Create music
		.row
			.col-sm-12
				div#launch-pad-grid
					each val in arrayTest
						+gen-soundboard-button(val.title, val.url)
					else
						p There are no values
