.footer
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/jquery.fancybox.pack.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='js/bootstrap.min.js')
  script(src='js/scripts.js?v=1.7')
  script(src='js/jquery.flexslider.js')
  script(src='js/jquery.smooth-scroll.js')
  script(src='js/modernizrcustom.js')
  script(src='js/waypoints.min.js')
  script(src='js/creative.js')
  script(src='js/wow.min.js')
  script.
    new WOW().init();