doctype html
html(lang='en')
  include partials/head
  body#page-top
    include partials/navbar
    section.members
      .container
        // DIREÇÃO
        div
          .row
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/António Ramadas.jpg', alt='')
                h4 António Ramadas
                p.text-muted Presidente
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/Duarte Pinto.jpg', alt='')
                h4 Duarte Pinto
                p.text-muted Vice-Presidente e Gestor de Projetos
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/Luís Duarte.jpg', alt='')
                h4 Luís Duarte
                p.text-muted Vice-Presidente e Gestor de Eventos
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/Flávio Couto.jpg', alt='')
                h4 Flávio Couto
                p.text-muted Tesoureiro
          .row
            .col-sm-3
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/Bernardo Belchior.jpg', alt='')
                h4 Bernardo Belchior
                p.text-muted Secretário
            .col-sm-3
              .team-member
                img.img-responsive.img-circle(src='img/members/Nuno Ramos.jpg', alt='')
                h4 Nuno Ramos
                p.text-muted Responsável pela Sala
            .col-sm-3
        // MEMBROS
        .row
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Anaís Dias.jpg', alt='')
              h4 Anaís Dias
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Vânia Leite.jpg', alt='')
              h4 Vânia Leite
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Edgar Passos.jpg', alt='')
              h4 Edgar Passos
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Pedro Silva.jpg', alt='')
              h4 Pedro Silva
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/João Soares.png', alt='')
              h4 João Soares
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Gustavo Silva.jpg', alt='')
              h4 Gustavo Silva
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/José Oliveira.jpg', alt='')
              h4 José Oliveira
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/André Lago.jpg', alt='')
              h4 André Lago
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Vítor Teixeira.jpg', alt='')
              h4 Vítor Teixeira
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Jorge Teixeira.jpg', alt='')
              h4 Jorge Teixeira
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Gabriel Souto.jpg', alt='')
              h4 Gabriel Souto
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Ana Rita Ferreira.jpg', alt='')
              h4 Ana Rita Ferreira
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Nuno Castro.jpg', alt='')
              h4 Nuno Castro
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Filipe Coelho.jpg', alt='')
              h4 Filipe Coelho
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/João Bordalo.jpg', alt='')
              h4 João Bordalo
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/José Cardoso.jpg', alt='')
              h4 José Cardoso
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Pedro Castro.jpg', alt='')
              h4 Pedro Castro
              p.text-muted Membro
          .col-sm-2
            .team-member
              img.img-responsive.img-circle(src='img/members/Pedro Fraga.png', alt='')
              h4 Pedro Fraga
              p.text-muted Membro
        // RECRUTAS
        .row
          // TEMPLATE
          // <div class='col-sm-2'><div class='team-member'><img src='img/members/Pedro Fraga.png' class='img-responsive img-circle' alt=''><h4>RECRUITS_NAME</h4><p class='text-muted'>Recruta</p></div></div>
        //
          Frase genérica para o final da pagina?
          <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
          </div>
          </div>
    include partials/footer
