#body {
    font-family: $font-type;
}

.item{
    background: url(../images/template_website/enei.jpg) no-repeat center center;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.white-separator{
    border-width: 4px;
    border-top: 4px solid white !important;
    width: 10%;
}

.black-separator{
    border-width: 1px;
    border-top: 0.9px solid $grey-color !important;
    width: 99%;
    margin-top: 40px; 
}



.btn-default{
    padding: 15px 44px 15px 44px !important;
    border-radius: 2em;
}

#hero{
    margin-top: 30px;
    overflow: hidden;
    
    .title{
    color: white;
    font-size: 30px;
}

    .subtitle{
    color: white;
    font-weight: 600;
    }


    .slide-info{
       padding-top: 200px;
        text-align: center;
    }

    .see-more-button{
        margin-top: 70px;
    }

    .sub-description{
        padding-top: 15px;
    }
}

#info{

    margin-top: 30px;
    
    .subtitle{
        font-size: 10px;
        font-style: italic;
    }
    
    .title{
        font-weight: 900;
        margin-top: 25px;
    }
    
    .definition{
        margin-top: 35px;
        font-size: 13px;
         line-height: 160%;
        color: $grey-color;
    }
}

#about-icons{
    .first-icons-row{
        margin-top: 65px;
        margin-bottom: 65px;
    }
    
    .second-icons-row{
         margin-bottom: 105px;
    }
}


#container-photo{
    background: url(../images/template_website/example_1.jpg) no-repeat center center;
    background-size: cover;
  // background-attachment: fixed;
    height: 450px;
    width: 100%;
}


