#body {
	font-family: $font-type;
}

.white-title {
	color: white;
	font-size: 30px;
	font-weight: 500;
}

.white-subtitle {
	color: white;
	font-weight: 300;
}

.white-italic-title {
	color: white;
	font-size: 13px;
	font-family: $font-type-body;
	font-style: italic;
	font-weight: 100;
}

.item {
	background: url("../images/template_website/enei.jpg") no-repeat center center;
	background-size: cover;
	height: 60vh;
	width: 100%;
	display: flex;
	align-items: center;
}

.white-separator {
	border-top: 1px solid white !important;
	width: 15%;
}

.black-separator {
	border-width: 1px;
	border-top: 1px solid $grey-color !important;
	width: 99%;
	margin-top: 40px;
}

.separator {
	border-width: 4px;
	border-top: 2.5px solid $primary-color !important;
	width: 13%;
}

.btn-default {
	padding: 15px 44px !important;
	border-radius: 2em;
}

.skill-title {
	font-size: 18px;
	font-weight: 400;
	padding-top: 4px;
}

.skill-body {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	color: $grey-color;
}

#hero {
	overflow: hidden;

	.slide-info {
		text-align: center;
	}

	.see-more-button {
		margin-top: 2vh;
	}

	.sub-description {
		padding-top: 15px;
	}
}

#info {
	margin-top: 30px;

	.subtitle {
		font-family: $font-type-body;
		font-size: 10px;
		font-weight: 200;
	}

	.title {
		font-weight: 700;
		margin-top: 25px;
	}

	.definition {
		margin-top: 35px;
		font-size: 13px;
		line-height: 160%;
		color: $grey-color;
		font-weight: 400;
		padding: 0 50px;
	}
}

#container-icons {
	.first-icons-row {
		margin-top: 65px;
		margin-bottom: 65px;
	}

	.second-icons-row {
		margin-bottom: 105px;
	}

	i {
		color: $primary-color;
		font-size: 30px;
	}

	.col-md-10 h4 {
		margin: 0.3em 0 10px;
		font-weight: bold;
	}
}

#container-photo {
	background: url("../images/template_website/example_1.jpg") no-repeat center center;
	background-size: cover;
	height: 500px;
	width: 100%;

	#transparent-div {
		height: 100%;
		background-color: rgba(140,45,25,0.7);
		@media (min-width: 768px) {
			width: 40%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		padding: 20px;

		#transparent-div-info {
			margin-top: 20%;
			@media (min-width: 768px) {
				width: 85%;
				margin-left: 15%;
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-left: 10%;
				margin-right: 10%;
			}
		}

		.left {
			margin-left: 0;
			width: 20% !important;
		}

		.info {
			padding-top: 15px;
			font-weight: 300;
			line-height: 1.6;
		}
	}
}

#container-projects {
	.project-info {
		margin-top: 80px;
		margin-bottom: 35px;

		.title {
			color: black;
			font-size: 30px;
			font-weight: 500;
		}

		.btn-projects {
			cursor: pointer;
			padding: 12px !important;
			font-size: small !important;
			color: white;
			background-color: $primary-color;
			border: none;
		}

		.btn-projects:hover {
			background-color: $primary-color-transp;
		}

		.btn-projects:focus {
			outline: 0;
		}
	}


	.project {
		height: 350px;
        padding: 0 !important;
        
        .project-description-padding{
             padding-top: 100px;
        }
       
        
        .project-title{
            color: white;
            text-align: center;
            font-size: 18px;
        }
        
        .separator{
            border-top: 3px solid white !important;
	        width: 13%;
            margin-bottom: 0px !important;
        }
        
        .project-description{
            color: white;
            text-align: center;
            font-size: 14px;
            padding-top: 10px;
        }
        
         .icons{
        
            i{
                color: white;
                font-size: 40px;
                padding-bottom: 15px;
                
            }
            
            .fa-file-text{
                padding-right: 15px;
            }
            
        }
        
	}

    

	#project-1 {
		// background: url(../images/template_website/1.jpg) no-repeat center center;
		background: url("http://www.technodoze.com/wp-content/uploads/2016/03/default-placeholder.png") no-repeat center center;
		background-size: cover;
        
        #project-1-description{
            background-color: gray;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            display: none;
        }
        
	}
    
    #project-1:hover{
        
        #project-1-description{
            display: block;
        }
    }

	#project-2 {
		// background: url(../images/template_website/3.jpg) no-repeat center center;
		background: url("http://www.technodoze.com/wp-content/uploads/2016/03/default-placeholder.png") no-repeat center center;
		background-size: cover;
        
        #project-2-description{
            background-color: gray;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            display: none;
        }
	}
    
     #project-2:hover{
        
        #project-2-description{
            display: block;
        }
    }

	#project-3 {
		//  background: url(../images/template_website/2.jpg) no-repeat center center;
		background: url("http://www.technodoze.com/wp-content/uploads/2016/03/default-placeholder.png") no-repeat center center;
		background-size: cover;
        
           
        #project-3-description{
            background-color: gray;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            display: none;
        }
	}
    
      #project-3:hover{
        
        #project-3-description{
            display: block;
        }
    }

	#project-4 {
		// background: url(../images/template_website/4.jpg) no-repeat center center;
		background: url("http://www.technodoze.com/wp-content/uploads/2016/03/default-placeholder.png") no-repeat center center;
		background-size: cover;
        
         #project-4-description{
            background-color: gray;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            display: none;
        }
	}
    
      #project-4:hover{
        
        #project-4-description{
            display: block;
        }
    }
}

#container-feup {
	margin-top: 100px;
	width: 99%;
	height: $header-height;
	background: url("../images/template_website/feup.jpg") no-repeat center center;
	background-size: cover;

	.info {
		padding-top: 100px;
		color: white;

		.number {
			font-size: 30px;
		}

		.description {
			font-size: 15px;
			font-weight: 400;
		}
	}

	@media screen and (max-width: 991px) {
		height: 600px;
	}
}

#container-contacts {
	margin: 50px auto;
	@media screen and (max-width: 991px) and (min-width:768px) {
		.col-sm-7 {
			width: 41.66667%;
		}

		.col-sm-4 {
			width: 50%;
		}
	}

	.contact-info {
		margin-top: 80px;
		margin-bottom: 80px;

		.title {
			color: black;
			font-size: 30px;
			font-weight: 500;
			padding-bottom: 30px;
		}

		.subtitle {
			font-size: 15px;
			font-weight: 400;
			color: black;
		}

		.info {
			font-size: 15px;
			font-weight: 400;
			color: $grey-color;
		}

		a.info {
			font-size: 15px;
			font-weight: 400;
			color: $grey-color;
		}

		#email {
			margin-bottom: 20px;
		}

		#github {
			margin-top: 20px;
		}
		.col{
			padding-top: 25px;
		}	
		
		@media (min-width: $screen-md-min) {
			.col{
				padding-top: 0;
			}		
		}
		
	}
}

#contact-align {
	padding: 0;

	.col-md-1 {
		padding: 0;
	}

	i {
		padding: 0;
	}
}
