#body {
    font-family: $font-type;
}

.white-title {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.white-subtitle {
    color: white;
    font-weight: lighter;
}

.white-italic-title {
    color: white;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
}

.item {
    background: url(../images/template_website/enei.jpg) no-repeat center center;
    background-size: cover;
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
}

.white-separator {
    border-width: 4px;
    border-top: 2px solid white !important;
    width: 10%;
}

.black-separator {
    border-width: 1px;
    border-top: 0.9px solid $grey-color !important;
    width: 99%;
    margin-top: 40px;
}

.btn-default {
    padding: 15px 44px 15px 44px !important;
    border-radius: 2em;
}

#hero {
    overflow: hidden;
    .slide-info {
        text-align: center;
    }
    .see-more-button {
        margin-top: 70px;
    }
    .sub-description {
        padding-top: 15px;
    }
}

#info {
    margin-top: 30px;
    .subtitle {
        font-size: 10px;
        font-style: italic;
    }
    .title {
        font-weight: 900;
        margin-top: 25px;
    }
    .definition {
        margin-top: 35px;
        font-size: 13px;
        line-height: 160%;
        color: $grey-color;
    }
}

#container-icons {
    .first-icons-row {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .second-icons-row {
        margin-bottom: 105px;
    }
    .icon {
        padding: 20px;
    }
}

#container-photo {
    background: url(../images/template_website/example_1.jpg) no-repeat center center;
    background-size: cover;
    height: 450px;
    width: 100%;
    #transparent-div {
        height: 100%;
        background-color: $primary-color;
        @media (min-width: 768px){
            width: 40%;
        }
        @media (max-width: 767px){
            width: 100%;
        }
        opacity: 0.75;
        padding: 20px;
        #transparent-div-info {
            margin-top: 20%;
            @media (min-width: 768px){
                width: 85%;
                margin-left: 15%;
                margin-right: 0;
            }
            @media (max-width: 767px){
                margin-left: 10%;
                margin-right: 10%;
            }
        }
        .left {
            margin-left: 0;
            width: 20% !important;
        }
        .info {
            padding-top: 15px;
        }
    }
}

#container-projects {
    .title {
        margin: 115px 0px 35px 95px;
        color: black;
        font-size: 30px;
        font-weight: bolder;
    }
    .project {
        height: 300px;
    }
    #project_1 {
        background: url(../images/template_website/1.jpg) no-repeat center center;
        background-size: cover;
    }
    #project_2 {
        background: url(../images/template_website/3.jpg) no-repeat center center;
        background-size: cover;
    }
    #project_3 {
        background: url(../images/template_website/2.jpg) no-repeat center center;
        background-size: cover;
    }
    #project_4 {
        background: url(../images/template_website/4.jpg) no-repeat center center;
        background-size: cover;
    }
}

#contacts-section {
    margin: 50px auto;
    @media (max-width: 991px){
        .col-sm-7{
            width: 41.66667%;
        }
        .col-sm-4{
            width: 50%;
        }
    }

    h3 {
        font-weight:bold;
    }

    .fa-icon{
        padding-right: 15px;
    }

    i {
        color: $primary-color;
        width: 1em;
        font-size: 20px;
    }

    .flex{
        display: flex;
    }


    nav {
        a {
            height: 2em;
            width: 2em;
            line-height: 2em; 
            color: white;
            background-color: $primary-color;
            margin: 10px 18px 10px 0;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
        }
    }
}

#map {
    width: 100%;
    height: 400px;
    background: url(../images/template_website/google_maps_template.png) no-repeat center center;
}