#body {
    font-family: $font-type;
}

#header {
    margin-top: 30px;
}

.navbar{
    background-color: white;
}

#footer {
    .copyright{
        text-align: center;
        background-color: $primary-color;
        height: 100px;
        p {
            color: white;
            padding-top: 45px;
        }
    }
}