body {
    font-family: $font-type;
    overflow-x:hidden;
}

#body{
    margin-top: $nav-bar-heigth;
}

#header {
    margin-top: 30px;
}

.navbar{ 
    background-color: white;   
    height: $nav-bar-heigth; 
    font-size: $font-size-header;
    .container-fluid{
        max-width: 1140px;
        margin: auto;
    }
    .navbar-brand{
        padding: 5px 0 5px 0;
        img{
            height: 65px;
        }
    }
    .navbar-right{
        padding-top: 15px; 
    }
}

#footer {
    vertical-align: middle;
    div{
        height: 100%;
        vertical-align: middle;
    }
    .info{
        max-width: 1140px;
        height: 200px;
        margin: auto;
    }
    .copyright{
        text-align: center;
        background-color: $primary-color;
        height: 100px;
        p {
            color: white;
            padding-top: 45px;
        }
    }
    .sponsors{
        vertical-align: middle;
        img{
            margin: auto;
            vertical-align: middle;
            max-width: 200px;
        }
    }
    .middle-col{
        border: 0 1px 0 1px solid black;
    }
}