html{
	overflow-x: hidden;
}

body {
	font-family: $font-type;
	overflow-x: hidden;
	width: 100vw;
}

#body {
	//margin-top: $nav-bar-heigth;
}

#header {
	margin-top: 30px;
}

.navbar {
	background-color: white;
	height: $nav-bar-heigth;
	font-size: $font-size-header;
	width: 100vw;
	
	.container-fluid {
		max-width: 1140px;
		margin: auto;
		border-color: #e7e7e7;
	}

	.navbar-brand {
		padding: 5px 15px;

		img {
			height: 65px;
		}
	}
	.collapse.navbar-collapse{
		background: none !important;
	}
}

#footer {
	.info {
		padding: 0 15px;
		max-width: 1140px;
		margin: 50px auto;

		p {
			margin-top: 20px;
		}
	}

	.copyright {
		text-align: center;
		background-color: $primary-color;
		height: 100px;

		p {
			color: white;
			padding-top: 45px;
		}
	}

	.sponsors {
		height: $footer-height;
		display: flex;

		#sponsors-images {
			margin: auto;
		}

		img {
			margin: auto;
			max-width: 200px;
		}
	}

	.middle-col {
		border-color: $grey-color;
		border-style: solid;
		border-width: 1px 0 1px 0;
		height: $footer-height;
		@media (min-width: 768px) {
			border-width: 0 1px 0 1px;
		}

		h3 {
			margin: 25px;
		}

		ul {
			list-style: none;
			padding-left: 25px;
		}

		li {
			margin: 10px auto;

			:before {
				content: ">";
				padding-right: 10px;
				-webkit-transition-timing-function: ease;
				transition-timing-function: ease;
				-webkit-transition: 0.5s;
				transition: 0.5s;
			}

			a {
				color: $grey-color;
				text-decoration: none;
			}
		}

		li:hover > a {
			color: $dark-grey-color;
		}

		li:hover > a:before {
			padding-right: 20px;
		}
	}
}
