#members-header {
    height: $header-height;
    background: url(../images/members/fullteam.jpg) center center no-repeat;
}

#members-title {
    color: #FFFFFF;
    font-size: $font-size-header-title;
    line-height: $header-height;
    background-color: $banner-color-transp;
}

#members h3 {
    padding-top: 2em;
    margin-top: 1.5em;
    padding-bottom: 2em;
}

.team-member {
    margin: 15px 15px;
    position: relative;
    a {
        display: block;
    }
}

.info-member {
    position: absolute;
    padding: 0px 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $projects-color-transp;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 2.5em;
    transition: .5s ease;
    p{
        color: white;
    }
}

.team-member:hover .info-member {
    height: 100%;
}