#members-header {
	background: url("../images/home/banner-equipa.jpg") no-repeat center center;
	background-size: cover;
	height: $header-height;
	width: 100%;
	display: flex;
	align-items: center;
}

#members-dividor {
	background-color: black;
	background-size: cover;
	height: $dividor-height;
	width: 100%;
	display: flex;
	margin-top: 60px;
}

#members-title {
	color: #FFFFFF;
	font-family: $font-type;
	font-weight: 700;
	font-size: $font-size-header-title;
	line-height: $header-height;
	padding-top: 50px;
}

#members h3 {
	padding-top: 2em;
	margin-top: 1.5em;
	padding-bottom: 2em;
}

#direction-members {
	margin: 40px 0;
}

.team-member {
	margin: 15px;
	@media (max-width: 1199px) {
		margin: 15px 0;
	}
	position: relative;
}

.info-member {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top, $projects-color-transp, $transparent-color);
	color: white;
	overflow: hidden;
	width: 100%;
	height: 6.5em;
	transition: 0.5s ease;
	font-size: 0.9em;
	div {
		padding: 15px;
		@media (max-width: 991px) and (min-width:768px) {
			padding: 10px;
		}
		height: 100%;
	}
	>a {
		color: white;
		text-decoration: none;
	}
	h4 {
		margin-bottom: 2px;
		font-family: $font-type;
		font-weight: 400;
	}
	em {
		font-family: $font-type-body;
		font-weight: 100;
		font-style: italic;
	}
	hr {
		width: 25%;
		border-top: 1px solid white;
		margin-left: 0;
		@media (max-width: 991px) and (min-width: 768px) {
			display: none;
		}
	}
	p {
		color: white;
		@media (max-width: 1199px) and (min-width: 768px), (max-width: 419px) {
			display: none;
		}
	}
	>nav.social {
		position: absolute;
		height: 2em;
		bottom: 15px;
		left: 100%;
		overflow: hidden;
		transition: 0.75s ease;
		@media (max-width: 991px) and (min-width: 768px) {
			display: none;
		}
		a {
			font-size: 10px;
		}
	}
}

.team-member:hover .info-member,
.team-member:hover .info-member {
	background-color: $projects-color-transp;
	height: 100%;
}

.info-slide:active nav,
.team-member:hover nav {
	left: 15px;
}
