#members-header {
    background: url("../images/home/banner-equipa.jpg") no-repeat center center;
    background-size: cover;
    height: $header-height;
    width: 100%;
    display: flex;
    align-items: center;
}

#members-dividor {
    background-color: black;
    background-size: cover;
    height: $dividor-height;
    width: 100%;
    display: flex;
    margin-top: 60px;
}

#members-title {
    color: #FFFFFF;
    font-family: $font-type;
    font-weight: 700;
    font-size: $font-size-header-title;
    line-height: $header-height;
    padding-top: 50px;
}

#members h3 {
    padding-top: 2em;
    margin-top: 1.5em;
    padding-bottom: 2em;
}

#direction-members {
    margin: 40px 0;
    .col-md-4 {
        padding: 15px 30px;
        @media (max-width: 1199px) {
            padding: 15px;
        }
    }
}

#active-members {
    .col-md-3 {
        padding: 15px 30px;
        @media (max-width: 1199px) {
            padding: 15px;
        }
    }
}

.team-member {
    position: relative;
    margin-bottom: 11em;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#direction-members .team-member {
    padding-top: 71.43%;
}

#active-members .team-member {
    @media (min-width: 768px) {
        padding-top: 100%;
    }
    padding-top: 71.43%;
}

.info-member {
    position: absolute;
    left: 0;
    right: 0;
    @media (min-width: 768px) {
        background: linear-gradient(to top, $projects-color-transp, $transparent-color);
        color: white;
        height: 6.5em;
        bottom: 0;
    }
    padding-bottom: 20px;
    color: $grey-color;
    overflow: hidden;
    width: 100%;
    transition: 0.5s ease;
    font-size: 0.9em;
    div {
        padding: 15px;
        padding-bottom: 30px;
        @media (min-width: 768px) {
            padding-bottom: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
            padding: 10px;
        }
        height: 100%;
    }
    >a {
        color: $grey-color;
        @media (min-width: 768px) {
            color: white;
        }
        text-decoration: none;
    }
    h4 {
        margin-bottom: 2px;
        font-family: $font-type;
        font-weight: 400;
    }
    em {
        font-family: $font-type-body;
        font-weight: 100;
        font-style: italic;
    }
    hr {
        width: 25%;
        border-top: 1px solid $grey-color;
        @media (min-width: 768px) {
            border-top: 1px solid white;
        }
        margin-left: 0;
        @media (max-width: 991px) and (min-width: 768px) {
            display: none;
        }
    }
    p {
        color: white;
        @media (max-width: 1199px) and (min-width: 768px), (max-width: 419px) {
            display: none;
        }
    }
    >nav.social {
        position: absolute;
        bottom: 15px;
        height: 4em;
        @media (min-width: 768px) {
            left: 100%;
            height: 2em;
        }
        left: 15px;
        overflow: hidden;
        transition: 0.75s ease;
        @media (max-width: 991px) and (min-width: 768px) {
            display: none;
        }
        a {
            font-size: 20px;
            @media (min-width: 768px) {
                font-size: 10px;
            }
        }
    }
}

.team-member:hover .info-member,
.team-member:hover .info-member {
    @media (min-width: 768px) {
        background-color: $projects-color-transp;
        height: 100%;
    }
}

.info-slide:active nav,
.team-member:hover nav {
    @media (min-width: 768px) {
        left: 15px;
    }
}