.portfolio-header {
  height: $header-height;
  background: url(../images/members/fullteam.jpg) center center no-repeat;
}

.portfolio-title {
  color: #FFFFFF;
  font-size: $font-size-header-title;
  line-height: $header-height;
  background-color: $banner-color-transp;
  h3{
    padding-top: 2em;
    margin-top: 1.5em;
    padding-bottom: 2em;
  }
}

.portfolio {
  min-height: 100px;
  .container{
        /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) { 
      -moz-column-count: 1;
      -moz-column-gap: 5px;
      -webkit-column-count: 1;
      -webkit-column-gap: 5px;
      column-count: 1;
      column-gap: 5px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      -moz-column-count: 2;
      -moz-column-gap: 5px;
      -webkit-column-count: 2;
      -webkit-column-gap: 5px;
      column-count: 2;
      column-gap: 5px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      -moz-column-count: 3;
      -moz-column-gap: 5px;
      -webkit-column-count: 3;
      -webkit-column-gap: 5px;
      column-count: 3;
      column-gap: 5px;
    }
    
  }
  .mix{
    width:100%;
    display:inline-block;
    margin-bottom: 0px;
    margin-top:0px;
  }
}

.portfolio-options{
  padding: 25px 0 25px 0;
  text-align: center;
  .btn-link{

  }
}

.thumbnail{
  padding: 15px;
}
