.projects-header {
  height: 400px;
  background: url(../images/members/fullteam.jpg) center center no-repeat;
  position: relative;
}

.projects-title {
  color: #FFFFFF;
  font-size: $font-size-header-title;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.projects {

}