:root{
    --soundboardButtonWidth: 80px;
    --soundboardButtonHeight: 50px;
    --soundboardProgressHeight: 5px;
    --soundboardTextSize: 24px;
}

.soundboard-button
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:var(--soundboardTextSize);
    width:var(--soundboardButtonWidth);
    height:var(--soundboardButtonHeight);
    border: none;
    background:#444;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sound-progress-bar
{
    width:var(--soundboardButtonWidth);
    height:var(--soundboardProgressHeight);
    background-color:black;
}

.sound-progress-bar-thumb
{
    width:0px;
    height:var(--soundboardProgressHeight);
    background-color:#4cad4c;
}

#sound-board-header{
  background: url("../../images/home/launch-pad.jpg") no-repeat top center;
  background-size: cover;

  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  #sound-board-title {
	color: #FFFFFF;
	font-family: $font-type;
	font-weight: 700;
	font-size: $font-size-header-title;
	line-height: $header-height;
	padding-top: 50px;
  }
}
