.soundboard-button
{
    width:50px;
    height:20px;
    border: none;
    background:gray;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sound-progress-bar
{
    width:50px;
    height:5px;
    background-color:red;
}

.sound-progress-bar-thumb
{
    width:5px;
    height:5px;
    background-color:black
}

#sound-board-header{
  background: url("../../images/home/launch-pad.jpg") no-repeat top center;
  background-size: cover;

  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  #sound-board-title {
	color: #FFFFFF;
	font-family: $font-type;
	font-weight: 700;
	font-size: $font-size-header-title;
	line-height: $header-height;
	padding-top: 50px;
  }
}
