// Override Bootstrap variables in this file, e.g.
$font-size-base: 14px;
$font-size-header: 18px;
$font-size-header-title: 40px;
$font-type: 'Montserrat',
sans-serif;
$nav-bar-heigth: 75px;
$primary-color: #8C2D19;
$primary-color-darker: #7B1926;
$grey-color: #787878;