doctype html
html(lang="en")
  head
  body
  p Olá #{name} #{surname},
  Para aderires ao google groups, clica no link a baixo:
  #{link_google_groups}
  Para teres aceso a nossa drive, clica no link a baixo:
  #{link_google_drive}
