doctype html
html(lang="en")
  head
  body
  p Olá #{name} #{surname},
  p Para aderires ao google groups, clica no link a baixo:
  a(href=link_google_groups) Google Groups
  p Para teres aceso a nossa drive, clica no link a baixo:
  a(href=link_google_drive) Google Drive
