doctype html
html(lang="en")
  head
  body
  p Olá #{name} #{surname},
  p Muito obrigado pelo teu interesse em fazeres parte do Núcleo de Informática. A tua candidatura será revista e esperamos contactar-te brevemente com mais informações!
