//- HTML HEADER
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")

  title= title || 'NIAEFEUP Website'
  
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  link(rel='stylesheet', href='css/flexslider.css', type='text/css')
  link(href='/css/styles.css?v=1.6', rel='stylesheet')
  link(href='/css/queries.css?v=1.6', rel='stylesheet')
  link(href='/css/jquery.fancybox.css', rel='stylesheet')
  link(rel='stylesheet', href='/css/animate.min.css', type='text/css')
  link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
  // Fonts
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', type='text/css')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')


  //- This file provides the default styling for the KeystoneJS Content Editor
  if user && user.canAccessKeystone
    link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

  //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  //- Safely remove this block if you are not targeting IE8
  //-[if lt IE 9]
    script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
    script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
  //-[endif]

  //- Include template-specific stylesheets by extending the css block
  block css

  //- Add any other template-specific HEAD tags by extending the head block
  block head